html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.img-slider {
  height: 221px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.button-nav {
  border: 1px solid #E3E3E3;
  background-color: #ffff !important;
  border-radius: 15px !important;
  font-size: 18px !important;
  padding: 20px !important;
  font-weight: 400 !important;
}

.product-slider {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #F5F5F5;
}

.carousel-item-margin {
  margin: 0px 15px;
}

.product-slider-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-slider-detail {
  padding: 10px 50px 10px 20px;
}

.btn-notify {
  width: 150px;
  height: 50px !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 10px !important;
  background-color: #000000 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #FFFFFF ;
}

.btn-notify:hover {
  background-color:#008CBA !important;
  color: #FFFFFF !important;
}

.btn-learn {
  width: 150px;
  height: 50px !important;
  border: 1px solid #E3E3E3 !important;
  border-radius: 10px !important;
  background-color: #FFFFFF !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000000 ;
}

.btn-learn:hover {
  background-color: #008CBA !important;
  color: #FFFFFF !important;
}

.tutorial-items {
  width: 100%;
  height: auto;
}

.tutorial-items-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-share {
  width: 400px;
  height: 50px !important;
  border: 1px solid #E3E3E3 !important;
  border-radius: 20px !important;
  background-color: #FFFFFF !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000000 ;
}

.btn-product-item {
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
  font-size: 18px !important;
  padding: 20px !important;
  font-weight: 400 !important;
}

.btn-product {
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
  padding: 20px !important;
  width: 90%;
}

.btn-product:hover {
  background-color: #008CBA !important;
  color: #FFFFFF !important ;
}

.btn-product-list {
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
  font-size: 15px !important;
  padding: 20px !important;
  font-weight: 400 !important;
}

.btn-buy {
  width: 400px;
  height: 50px !important;
  border: 1px solid #E3E3E3 !important;
  border-radius: 20px !important;
  color: #FFFFFF;
  background-color: #000000 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.btn-apply {
  border: 1px solid #E3E3E3 !important;
  border-radius: 20px !important;
  color: #FFFFFF;
  background-color: #000000 !important;
  font-weight: 600 !important;
  height: 30px !important;
}

.btn-order {
  width: 355px;
  height: 50px !important;
  border: 1px solid #E3E3E3 !important;
  border-radius: 20px !important;
  color: #FFFFFF;
  background-color: #000000 !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}